body{
    margin: 0;
}

.header{
    width: 100vw;
    height: 7vh;
    /* border-bottom: 1px solid red; */
    background-color: #696c7f;
    color: white;
}

.logo-header-container{
    width: 10%;
    height: 80%;
    /* border: 1px solid red; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-icon{
    font-size: 2.5em;
}

.nav-container{
    margin: 0 auto;
    width: 70vw;
    height: 100%;
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-between;
    align-items: center;
}

.search-container{
    /* border: 1px solid red; */
    width: 40%;
}

.input-search-new{
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

.input-search-new:hover
{
    border: 1px solid rgb(66, 65, 65);
    box-shadow: 0 0 10px 0 #1f1f20;
}

.input-search-new:focus{
    outline-offset: 0;
    outline: none;
    box-shadow: 0 0 10px 0 #1f1f20;
}

.nav-container ul{
    list-style-type: none;
    list-style: none;
    display: block;
    
}

.nav-container ul li{
    display: inline-block;
    margin-right: 15px;
}

.nav-container ul li a{
    text-decoration: none;
    color: white;
}

.hero{
    width: 100vw;
    height: 50vh;
    /* border: 1px solid red; */
    background-color: #82d1e2;
    border-top: 10px solid #2692aa;
    border-bottom: 10px solid #2692aa;
}

.hero-container{
    margin: 0 auto;
    width: 70vw;
    height: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template: 20% 80% / 50% 50%;
    grid-template-areas: "titulo imagen"
                        "contenido imagen";
}

.item{
    /* border: 1px solid red; */
}

.main-title-container{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-new{
    width: 90%;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}
.main-new-content-container{
    grid-area: contenido;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.main-new-details{
    width: 90%;
    color: black;
    font-size: 16px;
}

.main-new-date{
    font-size: 12px;
}
.main-image-new-container{
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-new-main{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 80%;
    height: 80%;
    /* border: 1px solid red; */
}

.icon-new-main{
    font-size: 220px;
}

.general-news{
    width: 100vw;
    background-color: #696c7f;
}
.general-news-container{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    height: 40vh;
    grid-template: 100%/ 30% 30% 30%;
    grid-column-gap: 5%;
    
}

.item-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* border: 1px solid red; */
    flex-wrap: wrap;
}

.img-general-new-container{
    margin-top: 15px;
    width: 80%;
    height: 30%;
    overflow: hidden;
    border-radius: 10px;
}


.img-general-new{
    width: 100%;
    height: 100%;
}

.new-genereal-details{
    width: 90%;
    height: 60%;
    /* border: 1px solid red; */
    
}

.general-new-title{
    font-weight: bold;
    color: white;
}

.general-new-date{
    font-size: 13px;
    color: white;
}

.general-new-description{
    color: white;
}